@import "variables.scss";
@import "fonts.scss";

* {
    box-sizing: border-box;
}
*, body {
    margin: 0;
    padding: 0;
}
html {
    display: block;
}

body{
    display: block;
    background-color:var(--bodyBg);
    font-family: 'Poppins' !important;
    width: 100%;
    height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
	outline: none;
}
.formGroup {
    margin-bottom: 5px;
}
.form-control {
    width: 100%;
    min-height: 55px;
	border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 8px;

	&:focus {
	    border: 1px solid var(--main);
	}
}
.otpBox {

    div {
		gap: 5;
	
		input {
			width: 80px !important;
			height: 80px !important;
			min-height: 55px;
			border: 1px solid #ddd;
			background-color: #fff;
			padding: 10px 15px;
			border-radius: 8px;
			font-size: 40px;
			font-weight: 600;

			&:focus {
				border: 1px solid var(--main);
			}
		}
	}
}

.mainBtn {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

	&.borderBtn {
		border: 2px solid var(--main);
		color: var(--main);
		background-color: #fff;
	}
	&.fillBtn {
		border: 2px solid var(--main);
		color: #fff;
		background-color: var(--main);
	}
}

.errorBorder{
	border-color: red !important;
}
.error {
    font-size: 12px;
	margin-top: 3px;
	min-height: 20px;

	&.danger{
		color:red;
	}
}
.eyeAction {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-0%, -50%);
    width: 30px;
    height: 30px;
	display: flex;
    align-items: center;
    justify-content: center;
	font-size: 24px;
	color: #9f9f9f;
}


.onBoardingSection {

	.topHead {
		margin-bottom: 20px;
		align-items: center;
		padding-top: 20px;

		.backBtn {
			font-size: 30px;
		}
	}
	.orLogin {
		text-align: center;
		border-top: 1px solid #ddd;
		margin-top: 30px;
		margin-bottom: 10px;

		span {
			top: -12px;
			position: relative;
			background: #fff;
			padding: 0 5px;
		}
	}
	.gamilSignup {
		display: flex;
		align-items: center;
		width: 100%;
		border: 1px solid #222;
		border-radius: 8px;
		text-align: center;
		font-weight: 500;
		padding: 10px 15px;
		border-radius: 8px;
		height: 55px;

		img {
			width: 30px;
			height: 30px;
		}
		p {
			text-align: center;
			width: 100%;
		}
	}
	.switchScreen {
		text-align: center;
		margin-top: 30px;

		.link {
			color:var(--main);
			text-decoration: underline;
		}
	}
	.forgotPassword {
		text-align: center;
		margin-top: 15px;

		.link {
			color:#222;
		}
	}
    .pageTitle {
		margin-bottom: 20px;

		h2 {
			font-size: 20px;
			text-align: left;
			font-weight: 600;
		}
    }
}


.pageContent {
    display: flex;
	
	.leftContent {
		background-color: var(--bodyBg);
		border-right: 2px solid #e3e3e3;
		left: 0;
		max-width: 400px;
		position: absolute;
		width: 100%;
		height: calc(100vh - 1px);   
	
		.titleBar {
			margin: 0;
			padding: 12px 0px;
			background: #fff;
			border-bottom: 1px solid #e3e3e3;
			
			.menuBtn {
				font-size: 22px;
				padding: 0px;
				color:#222 !important;
				background: transparent !important;
				border:none;
			}
			.walletIcon {
				text-decoration: none;
				background: #efefef !important;
				display: inline-flex;
				padding: 5px 10px;
				border-radius: 5px;
				align-items: center;
				justify-content: end;
				color:#222 !important;
				border:none;
				
				.icon {
				   margin-right:5px;
				}
			}
		}
		.scrollBody {
			overflow: hidden;
			overflow-x: hidden;
			overflow-y: auto;
			height: calc(100vh - 60px);
			padding:15px;
		}
	}
}


.parent{
    background-color: rgba(240, 239, 239, 0.685);
	.nav{
		background-color: red;
		color: white;
	}
	.bottom{
		background: orange;
		color: white;
	}
	.container{
		background-color: greenyellow;
	}
}
.scroll {
    height: calc(100vh - 1px);
    overflow: hidden;
    overflow-y: scroll;
}