@import "variables.scss";
@import "fonts.scss";


* {
	box-sizing: border-box;
}

*,
body {
	margin: 0;
	padding: 0;
}

html {
	display: block;
}

body {
	display: block;
	background-color: var(--bodyBg);
	font-family: 'Poppins' !important;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: var(--fontSize16);
}

*,
::after,
::before {
	box-sizing: border-box;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
	outline: none;
}

input::placeholder {
	color: #c7c6c6;
	opacity: 1;
}

input::-ms-input-placeholder {
	color: #c7c6c6;
}



.checkbox {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 40rem;

	&:hover input~.checkmark {
		background-color: #f3f1f1;
		border: 1rem solid #d8d8d8;
	}

	input {
		opacity: 0;
		margin-right: 10rem;
		position: absolute;
	}

	input:checked~.checkmark {
		background-color: #222;
		border: 1rem solid #222;
	}

	input:checked~.checkmark:after {
		display: block;
	}

	.checkmark {
		position: absolute;
		top: 3rem;
		left: 0;
		height: 30rem;
		width: 30rem;
		background-color: #fff;
		border-radius: 3rem;
		border: 1rem solid #d8d8d8;
	}

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
		left: 11rem;
		top: 4rem;
		width: 8rem;
		height: 15rem;
		border: solid white;
		border-width: 0 2rem 2rem 0;
		transform: rotate(45deg);
	}
}


.formGroup {
	margin-bottom: 10rem;

	.formGroupMain {
		position: relative;


		&.selectDropDown {

			.css-b62m3t-container {

				.css-t3ipsp-control {
					border: 1rem solid var(--main) !important;
				}

				.css-13cymwt-control,
				.css-t3ipsp-control {
					border: 1rem solid #ddd;
					min-height: 60rem;
					padding: 10rem 15rem;
					border-radius: 8rem;
					box-shadow: none;

					.css-1fdsijx-ValueContainer {
						padding: 0;
					}

					.css-1hb7zxy-IndicatorsContainer {

						.css-1xc3v61-indicatorContainer,
						.css-15lsz6c-indicatorContainer {
							padding: 0;
							margin-left: 15rem;
						}
					}
				}
			}

			.css-1nmdiq5-menu {
				z-index: 99;
			}
		}

		&.textareaField {

			textarea {
				padding: 10rem 15rem;
			}

			.formLabel {
				top: 30rem;

				&.active {
					top: 1rem;
				}
			}
		}
		&.disabledField {

			.form-control {
				background: #f8f8f8;
				display: flex;
				align-items: center;
				line-height: 1.3;
			}
		}

	}

	.formLabel {
		position: absolute;
		left: 8rem;
		top: 50%;
		transform: translateY(-50%);
		font-size: var(--fontSize16);
		background: #fff;
		padding: 0 7rem;
		z-index: 1;
		transition: 0.2s;
		color: #999999;
		pointer-events: none;
		min-width: 150rem;

		.requiredStar {
			margin-left: 2rem;
		}

		&.active {

			.requiredStar {
				color: #db0000;
			}
		}
	}


	.getOtpBtn {
		position: absolute;
		right: 15rem;
		top: 50%;
		transform: translate(0%, -50%);
		background: var(--main);
		color: #fff;
		border-radius: 5rem;
		padding: 5rem 10rem;
		font-size: var(--fontSize14);
	}

	.countryCode {
		position: absolute;
		top: 50%;
		left: 10rem;
		transform: translate(0%, -50%);
		min-width: 50rem;
		text-align: center;
		min-height: 35rem;
		line-height: 5;
	}

	.form-control:focus+.formLabel,
	.formGroupMain .active {
		top: 1rem;
		color: #333;
		z-index: 3;
		font-size: var(--fontSize14);
		min-width: auto;
	}

	.form-control:focus+.formLabel .requiredStar,
	.formGroupMain .active .requiredStar {
		color: #db0000;
	}



	.form-control:focus+.countryCode,
	.formGroupMain .active+.countryCode {
		display: block;
	}

	.formLabelNew {
		position: relative;
		top: -8rem;
		font-size: var(--fontSize14);
		z-index: 1;
		margin-bottom: 10rem;
	}

	.agreeTerms {
		display: block;
		font-size: var(--fontSize14);

		.link {
			color: var(--main);
		}
	}
}

input[type="email"] {

	&.form-control {
		padding-right: 100rem;
	}
}

.form-control {
	width: 100%;
	min-height: 60rem;
	border: 1rem solid #ddd;
	background-color: #fff;
	padding: 0 15rem;
	border-radius: 8rem;
	font-size: var(--fontSize16);
	line-height: 2.5;
	font-weight: 400;
	transition: 0.5s;


	&.phoneNumberSpace {
		padding-left: 60rem;
	}

	&:focus {
		border: 1rem solid var(--main);
	}

	&:disabled {
		background-color: #fff;
	}
}


.otpBox {

	div {
		gap: 10rem;
		justify-content: center;

		input {
			width: 70rem !important;
			height: 70rem !important;
			min-height: 70rem;
			border: 1rem solid #ddd;
			background-color: #fff;
			padding: 5rem;
			border-radius: 8rem;
			font-size: var(--fontSize34);
			font-weight: 600;

			&:focus {
				border: 1rem solid var(--main);
			}
		}
	}
}




.verificationForm {
	border: 1rem solid #e7e7e7;
	padding: 15rem 10rem;
	background: #f9f9f9;
	border-radius: 8rem;

	label {
		text-align: center;
		display: block;
		margin-bottom: 10rem;
		font-weight: 500;
	}

	.otpBox {
		margin-bottom: 10rem;
	}
}

.mainBtn {
	width: 100%;
	height: 55rem;
	border-radius: 8rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;

	&.borderBtn {
		border: 2rem solid var(--main);
		color: var(--main);
		background-color: #fff;

		&:disabled {
			border: 2rem solid #d8d8d8;
			color: #898989;
			background-color: #f3f3f3;
		}
	}

	&.fillBtn {
		border: 2rem solid var(--main);
		color: #fff;
		background-color: var(--main);

		&:disabled {
			border: 2rem solid #d8d8d8;
			color: #898989;
			background-color: #d8d8d8;
		}
	}
}

.width100 {
	width: 100%;
}

.errorBorder {
	border-color: red !important;
}

.error {
	font-size: var(--fontSize12);
	margin-top: 3rem;
	min-height: 20rem;

	&.danger {
		color: red;
	}

	&.success {
		color: green;
	}
	&.greyMgs {
		opacity: 0.7;
		padding: 0 5rem;
	}
}

.eyeAction {
	position: absolute;
	right: 10rem;
	top: 50%;
	transform: translate(-0%, -50%);
	width: 30rem;
	height: 30rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #9f9f9f;

	svg {
		width: 25rem;
		height: 25rem;
	}
}


.onBoardingSection {
	padding: 20rem;

	.topHead {
		margin-bottom: 20rem;
		align-items: center;
		padding-top: 20rem;

		.backBtn {
			font-size: var(--fontSize30);
		}
	}

	.orLogin {
		text-align: center;
		border-top: 1rem solid #ddd;
		margin-top: 30rem;
		margin-bottom: 10rem;

		span {
			top: -12rem;
			position: relative;
			background: #fff;
			padding: 0 5rem;
		}
	}

	.gamilSignup {
		display: flex;
		align-items: center;
		width: 100%;
		border: 1rem solid #222;
		border-radius: 8rem;
		text-align: center;
		font-weight: 500;
		padding: 10rem 15rem;
		border-radius: 8rem;
		height: 55rem;

		img {
			width: 30rem;
			height: 30rem;
		}

		p {
			text-align: center;
			width: 100%;
		}
	}

	.switchScreen {
		text-align: center;
		margin-top: 30rem;

		.link {
			color: var(--main);
		}
	}

	.forgotPassword {
		text-align: center;
		margin-top: 15rem;

		.link {
			color: #222;
		}
	}

	.pageTitle {
		margin-bottom: 30rem;

		h2 {
			font-size: var(--fontSize20);
			text-align: left;
			font-weight: 600;
		}
	}
}


.pageContent {
	display: flex;

	.leftContent {
		background-color: var(--bodyBg);
		border-right: 2rem solid #e3e3e3;
		left: 0;
		max-width: 425rem;
		position: absolute;
		width: 100%;
		overflow: hidden;

		.col {
			flex: 1 0 0%;
		}



		.headerBar {
			margin: 0;
			background: #fff;
			border-bottom: 1rem solid #e3e3e3;
			display: flex;
			align-items: center;
			position: sticky;
			top: 0;
			z-index: 99;

			.leftMenu {
				display: flex;
				flex: 100%;

				.menuBtn {
					padding: 0;
					color: #222;
					background: transparent;
					border: none;
					width: 60rem;
					height: 70rem;
					display: flex;
					align-items: center;
					justify-content: center;

					svg {
						width: 35rem;
						height: 35rem;
					}
				}

				.location {
					display: flex;
					align-items: center;
					gap: 5rem;

					.icon {
						width: 24rem;
						height: 24rem;
					}

					.locationBody {

						h5 {
							font-size: var(--fontSize16);
							font-weight: 500;
							line-height: 1;
							margin-bottom: 3rem;
							display: flex;
							align-items: center;
							gap: 5rem;
						}

						p {
							font-size: var(--fontSize13);
							overflow: hidden;
							-o-text-overflow: ellipsis;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							line-height: 1;

						}
					}
				}
			}

			&.innerHeader {
				background: #f3f3f3;

				.backBtn {
					padding: 0;
					color: #222;
					background: transparent;
					border: none;
					width: 60rem;
					height: 70rem;
					display: flex;
					align-items: center;
					justify-content: center;

					svg {
						width: 35rem;
						height: 35rem;
					}
				}

				.centerTitle {
					width: 50%;
					flex: 50%;
					text-align: center;

					.dTitle {
						font-size: var(--fontSize18);
						font-weight: 500;
					}
				}

				.headerAction {

					li {

						.btn {
							color: #222;
						}

						.dropdownMenu {
							position: relative;

							.icon {
								cursor: pointer;
								width: 35rem;
								height: 35rem;
							}

							.dropdownBody {
								position: absolute;
								background: #fff;
								color: #222;
								right: 20rem;
								width: 140rem;
								box-shadow: 0rem 0rem 10rem 0rem rgb(35 31 31 / 36%);
								padding: 8rem 15rem;
								border-radius: 5rem;
								display: none;
								transition: 0.5s;
								top: 60rem;

								ul {
									list-style: none;

									li {

										button {
											width: 100%;
											padding: 10rem 0;
											text-align: left;
											line-height: 1;
										}
									}
								}
							}

							&:hover {


								.dropdownBody {
									display: block;
								}
							}
						}
					}
				}
			}


			.headerAction {
				list-style: none;
				display: flex;
				align-items: center;
				justify-content: end;

				li {

					.btn {
						padding: 0;
						color: #222;
						background: transparent;
						border: none;
						width: 50rem;
						height: 70rem;
						display: flex;
						align-items: center;
						justify-content: center;

						svg {
							width: 30rem;
							height: 30rem;
						}

						&.search {

							svg {
								width: 27rem;
								height: 27rem;
							}
						}

					}
				}
			}

			&.detailsHeader {
				background: transparent;
				position: fixed;
				width: 425rem;
				top: 0;
				border: none;
				z-index: 9;

				.right {
					flex: 100%;
				}

				&::after {
					content: "";
					position: absolute;
					top: 0;
					width: 100%;
					background-image: linear-gradient(#000000c7, transparent);
					height: 70rem;
					z-index: -1;
				}

				&.active {
					background: #fff;
					box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);

					&::after {
						display: none;
					}

					svg {
						color: #000;
					}
				}

				.leftMenu {
					align-items: center;

					.menuBtn {
						color: #fff;
						width: 60rem;
					}

					.userImage {
						position: relative;
						height: 50rem;
						margin-left: 10rem;

						.imgBox {
							min-width: 50rem;
							min-height: 50rem;
							max-width: 50rem;
							max-height: 50rem;
							border-radius: 8rem;
							-o-object-fit: cover;
							object-fit: cover;
						}

						.userProfile {
							position: absolute;
							width: 24rem;
							height: 24rem;
							right: -5rem;
							bottom: -5rem;
							border-radius: 50rem;
							-o-object-fit: cover;
							object-fit: cover;
							border: 2rem solid #fff;
						}
					}
				}


				.headerAction {

					li {

						.btn {
							color: #fff;
						}

						.dropdownMenu {
							position: relative;

							.icon {
								cursor: pointer;
								width: 35rem;
								height: 35rem;
							}

							.dropdownBody {
								position: absolute;
								background: #fff;
								color: #222;
								right: 20rem;
								width: 140rem;
								box-shadow: 0rem 0rem 10rem 0rem rgb(35 31 31 / 36%);
								padding: 8rem 15rem;
								border-radius: 5rem;
								display: none;
								transition: 0.5s;
								top: 60rem;

								ul {
									list-style: none;

									li {

										button {
											width: 100%;
											padding: 10rem 0;
											text-align: left;
											line-height: 1;
										}
									}
								}
							}

							&:hover {


								.dropdownBody {
									display: block;
								}
							}
						}
					}
				}
			}

			&.chatDetailsHeader {
				box-shadow: none !important;

				.dTitle {
					padding: 0 15rem;
					font-weight: 500;
					font-size: var(--fontSize16);
				}
			}
		}

		.bottomBar {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			border-top: 1rem solid #FEEFDA;
			align-items: center;
			height: 70rem;

			.link {
				display: flex;
				text-align: center;
				padding: 0rem 10rem;
				position: relative;
				align-items: center;
				justify-content: center;
				height: 70rem;

				&.active {

					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 4rem;
						background-color: var(--main);
					}
				}

				.iconBox {
					width: 30rem;
					height: 30rem;
					margin: 0 auto;
					display: flex;
					align-items: center;
					justify-content: center;

					.icon {
						width: 28rem;
						height: 28rem;
						margin: 0 auto;
					}
				}

				&.chatTab {

					.iconBox {

						.icon {
							font-size: var(--fontSize22);
							color: #333;
						}
					}
				}


				h6 {
					font-size: var(--fontSize12);
					margin-top: 2rem;
					color: #333;
				}

				&.center {
					margin-top: -31rem;

					&.active {

						&::after {
							display: none;
						}
					}

					.centerMenu {
						width: 60rem;
						height: 60rem;
						background-color: var(--main);
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 50%;
						margin: 0 auto;
						margin-bottom: 6rem;

						.icon {
							font-size: var(--fontSize30);
							color: #fff;
						}
					}
				}

			}
		}
	}
}

.sliderItem {
	display: flex;
	gap: 5rem;

	.itemImg {
		min-width: 400rem;
		max-width: 400rem;
		min-height: 320rem;
		max-height: 320rem;

		img {
			width: 100%;
			min-height: 100%;
			margin: auto;
		}
	}
}

.submitForm {
	position: fixed;
	bottom: 0;
	width: 425rem;
	border-top: 2rem solid #ededed;
	padding: 15rem 20rem;
	left: 0;
	background: #fff;
	display: flex;
	gap: 10rem;

	.form-control {
		min-height: 50rem;
		padding: 0 20rem;
		border-radius: 50rem;
		background: #f5f5f5;
	}

	.btn {
		min-width: 50rem;
		min-height: 50rem;
		max-width: 50rem;
		max-height: 50rem;
		background: var(--main);
		display: flex;
		align-items: center;
		border-radius: 50%;
		justify-content: center;

		svg {
			fill: #fff;
			width: 22rem;
			height: 22rem;
			margin-left: -5rem;
		}
	}
}

.priceLocation {
	background: #fff;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	top: 70rem;
	position: fixed;
	width: 425rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15rem 20rem;
	z-index: 2;

	.price {
		color: var(--main);
		text-align: right;
	}

	.location {
		width: 80%;
		opacity: 0.7;
	}

	h5 {
		width: 50%;
	}
}

.chartUserBody {
	margin-top: 115rem;
	padding: 20rem 20rem 0 20rem;

	.timeBox {
		text-align: center;
		margin: 15rem 0 0 0;
		border-top: 1rem solid #e9e9e9;
		display: inline-block;
		width: 100%;

		span {
			font-weight: 500;
			background: #fff;
			position: relative;
			top: -12rem;
			padding: 0 10rem;
		}
	}

	.leftMgs {
		text-align: left;
		width: 90%;
		margin-bottom: 10rem;

		p {
			background-color: #c7c7c7;
			display: inline-block;
			color: #222;
			padding: 8rem 15rem 25rem 15rem;
			border-radius: 10rem 10rem 10rem 0rem;
			position: relative;

			time {
				position: absolute;
				right: 10rem;
				bottom: 3rem;
				font-size: var(--fontSize12);
			}
		}
	}

	.rightMgs {
		text-align: right;
		width: 90%;
		margin-bottom: 10rem;
		float: right;

		p {
			background-color: #555;
			display: inline-block;
			color: #fff;
			padding: 8rem 15rem 25rem 15rem;
			border-radius: 10rem 10rem 0rem 10rem;
			position: relative;

			time {
				position: absolute;
				right: 10rem;
				bottom: 3rem;
				font-size: var(--fontSize12);
			}
		}
	}
}

.ItemsContentBody {

	.titleDetails {
		padding: 15rem 20rem;

		.priceTime {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.itemPrice {
				font-size: var(--fontSize20);
				font-weight: 600;
				color: var(--main);
			}

			.time {
				font-size: 14rem;
				opacity: 0.5;
			}
		}

		.itemName {
			font-size: var(--fontSize18);
			font-weight: 500;
			line-height: 1.3;
		}

		.location {
			margin: 10rem 0;
			opacity: 0.8;

			svg {
				display: inline-block;
				width: 20rem;
				height: 20rem;
				margin-top: -5rem;
			}
		}

	}

	.featuresBox {

		.menuTab {
			display: flex;
			margin-bottom: 20rem;

			button {
				width: 50%;
				background: #e7e6e6;
				padding: 0 10rem;
				height: 55rem;
				color: #717171;
				font-weight: 500;
				border-bottom: 2rem solid transparent;

				&.active {
					border-bottom: 2rem solid #222;
					color: #222;
					opacity: 1;
				}
			}
		}

		.descriptionList {
			padding: 0 20rem;

			p {
				font-size: var(--fontSize14);
				line-height: 1.7;
			}
		}

		.specifitionList {
			padding: 0 20rem;

			ul {
				list-style: none;

				li {
					display: flex;
					justify-content: space-between;
					border-bottom: 1rem solid #d7d7d7;
					padding: 12rem 0;
					font-size: var(--fontSize14);

					&:first-child {
						padding-top: 0;
					}

					&:last-child {
						border: none;
					}
				}
			}
		}
	}
}

.detailsFixBtn {
	display: flex;
	gap: 15rem;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 425rem;
	padding: 15rem 15rem;
	box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
	background: #fff;
	z-index: 99;
}

.spaceLessDetails {
	padding-bottom: 110rem;
}

.spaceLessDetailsChat {
	padding-bottom: 85rem;
}

.searchPage {
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 425rem;
	height: 100%;
	background: #fff;
	display: none;

	&.active {
		display: block;
	}

	.searchForm {
		display: flex;
		gap: 10rem;
		padding: 15rem 15rem;
		border-bottom: 1rem solid #ededed;
		background: #fbfbfb;

		.backBtn {
			display: flex;
			width: 40rem;
			height: 50rem;
			align-items: center;
			justify-content: center;

			svg {
				width: 30rem;
				height: 30rem;
			}
		}

		.formIn {
			position: relative;
			width: 100%;

			.form-control {
				min-height: 50rem;
				height: 50rem;
				padding-right: 50rem;
			}

			.searchBtn {
				position: absolute;
				right: 8rem;
				width: 35rem;
				height: 35rem;
				display: flex;
				align-items: center;
				justify-content: center;
				top: 8rem;
				background: var(--main);
				border-radius: 8rem;
				color: #fff;
				cursor: pointer;

				svg {
					width: 25rem;
					height: 25rem;
				}
			}
		}
	}

	.searchListHintsLocation {
		list-style: none;
		height: calc(100vh - 77rem);

		li {
			display: flex;
			gap: 10rem;
			align-items: center;
			padding: 15rem 15rem;
			border-bottom: 1rem solid #ededed;
			position: relative;

			.icon {
				min-width: 20rem;
				min-height: 20rem;
				max-width: 20rem;
				max-height: 20rem;
			}

			.left {
				width: 100%;

				h5 {
					font-size: var(--fontSize16);
					font-weight: 500;
					line-height: 1;
					color: #9e9e9e;

					b {
						font-weight: 500;
						opacity: 1;
						color: #222;
					}
				}

				.currentLocation {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 25rem;
					height: 25rem;
					color: #222;
				}

				p {
					font-size: var(--fontSize14);
					opacity: 0.7;
				}
			}

		}

	}

	.searchListHints {
		list-style: none;
		height: calc(100vh - 77rem);

		.searchTitle {
			padding: 15rem 15rem 0rem;
		}

		li {
			display: flex;
			gap: 10rem;
			align-items: center;
			padding: 15rem 15rem;
			border-bottom: 1rem solid #ededed;

			.icon {
				min-width: 30rem;
				min-height: 30rem;
				max-width: 30rem;
				max-height: 30rem;
			}

			.left {
				width: 100%;

				h5 {
					font-size: var(--fontSize18);
					font-weight: 500;
					line-height: 1;
				}

				p {
					font-size: var(--fontSize14);
					opacity: 0.7;
				}
			}

			.closeSearch {
				cursor: pointer;

				svg {
					width: 30rem;
					height: 30rem;
				}
			}
		}
	}
}

.notificationList {

	ul {
		list-style: none;

		li {
			padding: 15rem 15rem;
			width: 100%;
			border-bottom: 1px solid #e2e0e0;
			display: flex;

			.notificationBody {
				width: 100%;

				b {
					font-weight: 500;
					color: var(--main);
				}

				time {
					font-size: var(--fontSize13);
					opacity: 0.7;

					span {
						margin-left: 3rem;
					}
				}
			}

			.dropdownMenu {
				position: relative;

				.icon {
					cursor: pointer;
					width: 35rem;
					height: 35rem;
				}

				.dropdownBody {
					position: absolute;
					background: #fff;
					color: #222;
					right: 20rem;
					width: 140rem;
					box-shadow: 0rem 0rem 10rem 0rem rgb(35 31 31 / 36%);
					padding: 8rem 15rem;
					border-radius: 5rem;
					display: none;
					transition: 0.5s;
					top: 40rem;

					ul {
						list-style: none;

						li {
							padding: 0;
							border: none;

							button {
								width: 100%;
								padding: 10rem 0;
								text-align: left;
								line-height: 1;
							}
						}
					}
				}

				&:hover {


					.dropdownBody {
						display: block;
					}
				}
			}

			&.active {
				background: #ffd2da;
				border-bottom: 1rem solid #ff95a8;
				font-weight: 500;


				.notificationBody {
					b {
						font-weight: 600;
					}

					time {
						font-weight: 500;
					}
				}
			}
		}
	}
}

.titleBox {
	display: flex;
	width: 100%;
	padding: 0 6rem 6rem 6rem;
	margin-top: 10rem;
	align-items: center;

	.filterBtn {
		display: flex;
		align-items: center;
		justify-content: end;
		float: right;
		color: var(--main);

		svg {
			width: 20rem;
			height: 20rem;
			position: relative;
			top: -1rem;
		}
	}

	.titleS {
		font-size: var(--fontSize20);
		font-weight: 500;
	}

	&.fixTitle {
		position: sticky;
		margin: 0;
		padding: 10rem 15rem;
		top: 0;
		z-index: 1;
		background: #f9f8f8;
		border-bottom: 1rem solid #e3e3e3;
	}

	&.formTile {
		padding: 0;
		margin: 0;
		margin-bottom: 25rem;

	}
}

.bottomSpace {
	padding-bottom: 30rem !important;
}

.categoyList {
	box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 999;

	ul {
		list-style: none;
		display: flex;
		gap: 20rem;
		padding: 0 15rem;

		li {

			.link {
				padding: 10rem 0;

				span {
					width: 40rem;
					height: 40rem;
					background-color: #ededed;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 auto;
					border-radius: 50rem;

					.icon {
						height: 20rem;
						margin: 0 auto;
					}
				}

				h5 {
					font-size: var(--fontSize12);
					margin-top: 2rem;
				}

				&.active {
					border-bottom: 2rem solid var(--main);
				}
			}
		}
	}
}

.row {
	display: flex;
	flex-wrap: wrap;

	.col-6 {
		width: 50%;
		padding: 8rem;
	}

	.col-12 {
		width: 100%;
		padding: 8rem;
	}
}

.scroll {
	height: calc(100vh - 1rem);
	overflow: hidden;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

.scroll2 {
	overflow: hidden;
	overflow-x: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

.productCard {

	.productCardImg {
		height: 150rem;
		width: 100%;
		position: relative;
		padding: 0;
		box-sizing: border-box;
		overflow: hidden;
		border-radius: 5rem;
		border: 1rem solid #cbcbcb;

		img {
			min-height: 100%;
			margin: auto;
		}

		.favIcon {
			width: 30rem;
			height: 30rem;
			position: absolute;
			top: 8rem;
			right: 8rem;
			font-size: 20rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #fff;
			border-radius: 50rem;
			color: var(--main);
		}
	}

	.productCardBoy {
		padding-top: 5rem;

		.itemPrice {
			font-size: var(--fontSize18);
			font-weight: 600;
			margin-bottom: 3rem;
		}

		.prdTitle {
			margin-bottom: 3rem;
		}

		.location {
			font-size: var(--fontSize12);
			opacity: 0.5;
		}

		.prdTitle {
			font-size: var(--fontSize14);
		}

		.distance {
			font-size: var(--fontSize14);
		}
	}
}

.verifiedTagBox {
	text-align: center;

	.verifiedTag {
		background: #0564dd;
		color: #fff;
		font-size: var(--fontSize12);
		border-radius: 50rem;
		padding: 0 10rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 30rem;
		line-height: 3;
		gap: 2rem;
		margin-top: 10rem;

		.blueTik {
			color: #fff;
			min-width: 20rem;
			min-height: 20rem;
			max-width: 20rem;
			max-height: 20rem;
		}
	}
}

.myAdsCard {
	overflow: hidden;
	border-radius: 10rem;
	border: 1rem solid #c3c3c3;

	.myAdsCardHead {
		background: #f3f3f3;
		padding: 12rem 15rem;
		color: #000;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.time {
			margin-left: 12rem;
		}

		.dropdownMenu {
			position: relative;

			.icon {
				cursor: pointer;
				width: 30rem;
				height: 30rem;
			}

			.dropdownBody {
				position: absolute;
				background: #fff;
				color: #222;
				right: 0;
				width: 120rem;
				box-shadow: 0rem 0rem 10rem 0rem rgb(35 31 31 / 36%);
				padding: 8rem 15rem;
				border-radius: 5rem;
				display: none;
				transition: 0.5s;

				ul {
					list-style: none;

					li {

						button {
							width: 100%;
							padding: 10rem 0;
							text-align: left;
							line-height: 1;
						}
					}
				}
			}

			&:hover {


				.dropdownBody {
					display: block;
				}
			}
		}
	}

	.productCardBottom {
		padding: 12rem 15rem;
		border-top: 1rem solid #c3c3c3;
	}

	.myAdsCardIn {
		display: flex;
		align-items: center;
		gap: 10rem;
		padding: 15rem;

		.productCardImg {
			min-height: 80rem;
			min-width: 80rem;
			max-height: 80rem;
			max-width: 80rem;
			position: relative;
			padding: 0;
			box-sizing: border-box;
			overflow: hidden;
			border-radius: 5rem;
			border: 1rem solid #cbcbcb;
			display: flex;

			img {
				min-height: 100%;
				margin: auto;
			}
		}

		.productCardBoy {

			.itemPrice {
				font-size: var(--fontSize18);
				font-weight: 600;
				margin-bottom: 3rem;
			}

			.prdTitle {
				margin-bottom: 3rem;
			}

			.location {
				font-size: var(--fontSize12);
				opacity: 0.5;
			}

			.counts {
				font-size: var(--fontSize14);
				display: flex;
				gap: 20rem;
			}
		}
	}

}

.listingProduct {
	padding: 5rem 5rem;
}

.textLimit {
	word-break: break-all;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;

	&.l1 {
		-webkit-line-clamp: 1;
	}

	&.l2 {
		-webkit-line-clamp: 2;
	}

	&.l3 {
		-webkit-line-clamp: 3;
	}

	&.l4 {
		-webkit-line-clamp: 4;
	}

	&.l5 {
		-webkit-line-clamp: 5;
	}
}

.text-danger {
	color: red;
}

.text-success {
	color: green;
}

.sellerCard {
	padding: 20rem 20rem;
	box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
	background: whitesmoke;
	margin-top: 20rem;
	display: block;

	h6 {
		font-size: var(--fontSize16);
		margin-bottom: 10rem;
		font-weight: 500;
		color: var(--main);
	}

	.sellerBox {
		display: flex;
		align-items: center;
		gap: 10rem;
		position: relative;

		.img {
			width: 60rem;
			height: 60rem;
			object-fit: cover;
			border-radius: 50rem;
		}

		h5 {
			font-size: 18rem;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 5rem;
			padding-right: 40rem;
		}

		.arrow {
			position: absolute;
			right: 0;
			width: 25rem;
			height: 25rem;
		}
	}

}

.sellerCardPrd {
	padding: 15rem 15rem;
	background: whitesmoke;
	display: block;
	border-bottom: 1rem solid #e3e3e3;

	h6 {
		font-size: var(--fontSize14);
		margin-top: 5rem;
		font-weight: 500;
		color: #222;
	}

	.sellerBox {
		display: flex;
		align-items: center;
		gap: 10rem;
		position: relative;
		margin-bottom: 10rem;

		.img {
			width: 60rem;
			height: 60rem;
			object-fit: cover;
			border-radius: 50rem;
		}

		h4 {
			font-size: 18rem;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 5rem;
		}
	}

}

.sellerProducts {
	padding: 30rem 0;
}



.blueTik {
	min-width: 25rem;
	min-height: 25rem;
	max-width: 25rem;
	max-height: 25rem;
	color: #0564dd;
}

.googleMap {
	padding: 0 20rem;
	margin-top: 10rem;

	.MapBox {
		width: 100%;
		height: 200rem;
		display: block;
		object-fit: cover;
		border-radius: 5rem;
		border: none;
		box-shadow: none;
		outline: none;
	}
}

.chatList {
	list-style: none;
	width:100%;

	li {

		.link {
			display: flex;
			gap: 12rem;
			align-items: center;
			position: relative;
			padding: 20rem 15rem;
			border-bottom: 1rem solid #e3e3e3;

			.imgBox {
				width: 70rem;
				height: 70rem;
				border-radius: 10rem;
				object-fit: cover;
			}

			.userProfile {
				position: absolute;
				width: 30rem;
				height: 30rem;
				left: 55rem;
				bottom: 20rem;
				border-radius: 50rem;
				object-fit: cover;
				border: 2rem solid #fff;
			}

			.contentBody {
				text-align: left;

				h3 {
					font-weight: 500;
					font-size: var(--fontSize18);
				}

				p {
					opacity: 0.6;
				}

				time {
					font-size: var(--fontSize12);
					line-height: 1;

					span {
						margin-left: 5rem;
					}
				}
			}

			&.active {
				background: #ffd2da;
				border-bottom: 1rem solid #ff95a8;


				.contentBody {

					h3 {
						font-weight: 600;
					}

					p {
						opacity: 1;
					}

					time {
						font-weight: 500;
					}
				}
			}
		}
	}
}

@keyframes fadeAnimation {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}
}

.overlayBg {
	background: rgba(0, 0, 0, 0.7) !important;
	animation: fadeAnimation 0.6s;
}

.priceRange {

	.multi-range-slider {
		border: none;
		box-shadow: none;
		padding: 0;
		border-radius: 0;

		.bar {
			display: flex;
			padding: 0 15rem;
			margin-top: 15rem;

			.bar-right,
			.bar-left {
				background: #f81e4626;
				box-shadow: none;
			}
		}

		.input-type-range {
			display: none;
		}

		.thumb {

			&::before {
				background: var(--main);
				width: 25rem;
				height: 25rem;
				border: none;
				box-shadow: none;
				margin: -8rem -12rem;
			}
		}

		.bar-inner {
			box-shadow: none;
			background: var(--main);
			border: none;
		}
	}

	.priceRange {
		display: flex;
		justify-content: space-between;

		span {
			display: flex;
			align-items: center;
			font-weight: 500;

			svg {
				width: 20rem;
				height: 20rem;
			}
		}
	}
}


.settingsMenu {

	.menuList {
		list-style: none;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		height: calc(100vh - 200rem);

		li {

			.link {
				display: flex;
				gap: 10rem;
				padding: 20rem 20rem;
				position: relative;
				cursor: pointer;
				border-bottom: 1rem solid #d5d5d5;

				.icon {
					width: 25rem;
					height: 25rem;
					display: flex;
					align-items: center;
					justify-content: center;

					svg {
						width: 20rem;
						height: 20rem;

					}
				}

				.arrow {
					position: absolute;
					right: 15rem;
					height: 18rem;
					width: 18rem;
					top: 50%;
					transform: translate(-0%, -50%);
				}
			}
		}
	}
}

.sideBar {
	position: relative;
	display: contents;

	.overlayBg {
		position: fixed;
		top: 50%;
		left: 0;
		width: 425rem;
		height: 100vh;
		margin: 0 auto;
		transform: translate(0%, -50%);
		z-index: 9999;
		opacity: 0;
		display: none;
	}

	.sideBarBody {
		position: absolute;
		z-index: 9999;
		width: 300rem;
		left: -85%;
		top: 0;
		transition: 0.4s;
		height: 100vh;
		background-color: #fff;
		opacity: 0;

		.nameProfile {
			display: flex;
			align-items: center;
			gap: 12rem;
			padding: 30rem 20rem;
			position: relative;
			border-bottom: 1rem solid #d5d5d5;
			height: 120rem;

			.profileImg {
				position: relative;

				.userImg {
					width: 60rem;
					height: 60rem;
					object-fit: cover;
					border-radius: 50%;
					display: block;
				}
			}

			.nameProfileBody {

				h5 {
					font-size: var(--fontSize18);
				}

				p {
					font-size: var(--fontSize14);
					font-weight: 400;
					opacity: 0.5;
				}
			}
		}

		.noLogin {
			display: flex;
			align-items: center;
			gap: 12rem;
			padding: 30rem 20rem;
			position: relative;
			border-bottom: 1rem solid #d5d5d5;
			height: 120rem;

			.loginBtn {
				background: var(--main);
				color: #fff;
				padding: 0 20rem;
				border-radius: 10rem;
				height: 40rem;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.menuList {
			list-style: none;
			overflow: hidden;
			overflow-x: hidden;
			overflow-y: auto;
			position: relative;
			height: calc(100vh - 200rem);

			li {

				.link {
					display: flex;
					gap: 10rem;
					padding: 20rem 20rem;
					position: relative;
					cursor: pointer;
					border-bottom: 1rem solid #d5d5d5;

					.icon {
						width: 25rem;
						height: 25rem;
						display: flex;
						align-items: center;
						justify-content: center;

						svg {
							width: 20rem;
							height: 20rem;

						}
					}

					.arrow {
						position: absolute;
						right: 15rem;
						height: 18rem;
						width: 18rem;
						top: 50%;
						transform: translate(-0%, -50%);
					}
				}
			}
		}

		.fixSidebarBtn {
			padding: 15rem 25rem;
			border-top: 1rem solid #d5d5d5;
			height: 80rem;

			.btn {
				background: var(--main);
				color: #fff;
				width: 100%;
				height: 100%;
				border-radius: 10rem;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&.active {

		.overlayBg {
			opacity: 1;
			display: block;
		}

		.sideBarBody {
			left: 0rem;
			opacity: 1;
		}
	}
}

.defaultSpace {
	padding: 15rem;
	margin-top: 15rem;

	&.cmsPage {
		margin-top: 0;

		p {
			font-size: var(--fontSize14);
			color: #222;
			opacity: 0.9;
			margin-bottom: 5rem;
		}

		h2 {
			margin-bottom: 5rem;
			font-size: var(--fontSize20);
			font-weight: 500;
		}
	}
}

.uploadImg {
	position: relative;
	width: 100rem;
	height: 100rem;
	margin: 0 auto;

	.userProfile {
		width: 100rem;
		height: 100rem;
		object-fit: cover;
		border-radius: 50rem;
	}

	.uploadBtn {
		position: absolute;
		right: 0;
		bottom: 0;
		background: var(--main);
		color: #fff;
		width: 30rem;
		height: 30rem;
		border-radius: 50rem;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0rem 2rem 8rem 0rem #00000017;
		overflow: hidden;

		svg {
			width: 15rem;
			height: 15rem;
		}

		input[type="file"] {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
}

.linkverification {
	display: block;
	text-align: center;

	.link {
		padding: 15rem 10rem;
		display: inline-block;
		color: var(--main);
	}
}

.uploadedMultiImg {
	display: flex;
	gap: 15rem;
	flex-wrap: wrap;

	.uploadImgItemPlus {
		height: 100rem;
		background: #f8f8f8;
		border: 1rem solid #ddd;
		border-radius: 8rem;
		width: 48%;
		position: relative;
		overflow: hidden;

		.uploadIn {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			text-align: center;

			.icon {
				width: 40rem;
				height: 40rem;
				margin: 0 auto;
				color: #a3a3a3;
				margin-bottom: 3rem;
			}
		}

		input[type="file"] {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}

	.uploadImgItem {
		border: 1rem solid #ddd;
		border-radius: 8rem;
		overflow: hidden;
		width: 48%;
		height: 100rem;
		background: #f8f8f8;
		position: relative;

		.imgUpload {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		.mainSelect {
			position: absolute;
			top: 5rem;
			left: 5rem;
			font-size: var(--fontSize12);
			background: var(--main);
			color: #fff;
			border-radius: 5rem;
			padding: 2rem 6rem;
			cursor: pointer;
		}

		.closeIcon {
			position: absolute;
			top: 5rem;
			right: 5rem;
			width: 25rem;
			height: 25rem;
			background: #fff;
			border-radius: 50%;
			padding: 4rem;
			cursor: pointer;
			box-shadow: 0rem 2rem 8rem 0rem #00000069;
		}
	}

	&.aadharUpload {
		margin-bottom: 15rem;

		.uploadImgItemPlus {
			width: 100%;
			height: 180rem;

			.icon {
				width: 80rem;
				height: 80rem;
			}
		}

		.uploadImgItem {
			width: 100%;
			height: 180rem;

		}
	}
}




.bottomPopup {


	.overlayBg {
		position: fixed;
		width: 425rem;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 9999;
		opacity: 0;
	}

	.bottomPopupBody {
		position: fixed;
		left: 0;
		width: 425rem;
		background: #fff;
		height: 50%;
		z-index: 99999;
		bottom: -50%;
		border-radius: 20rem 20rem 0rem 0rem;
		overflow: hidden;
		transition: 0.4s;

		.filterHead {
			border-bottom: 1rem solid #d5d5d5;
			padding: 15rem 20rem;
			background: #fff;

			h5 {
				font-size: var(--fontSize20);
				font-weight: 500;
			}
		}
	}

	&.active {
		display: block;


		.overlayBg {
			opacity: 1;
		}

		.bottomPopupBody {
			bottom: 0;
			opacity: 1;
		}
	}
}

.filterTabbing {
	display: flex;
	height: 100%;

	.left {
		width: 35%;
		background: #f2f2f2;
		height: 100%;

		ul {

			li {
				padding: 20rem 10rem;
				font-size: var(--fontSize16);
				cursor: pointer;

				&.active {
					background: #fff;
					font-weight: 500;
					font-size: var(--fontSize17);
				}
			}
		}
	}

	.right {
		width: 65%;
		padding: 15rem 15rem;

		.sortOption {

			li {
				border: 1rem solid #d5d5d5;
				padding: 10rem 15rem;
				border-radius: 5rem;
				margin-bottom: 10rem;

				&.active {
					border: 1rem solid var(--main);
					color: var(--main);
					background: #ffe1e7;
				}
			}
		}
	}
}

.fixFilterAction {
	position: absolute;
	z-index: 9999999999;
	bottom: 0;
	display: flex;
	width: 100%;
	gap: 15rem;
	padding: 15rem 15rem;
	background: #fff;
	border-top: 1rem solid #d5d5d5;
}


.skeletonLoader {
	@keyframes wave-lines {
		0% {
			background-position: -468px 0;
		}

		100% {
			background-position: 468px 0;
		}
	}

	@keyframes wave-squares {
		0% {
			background-position: -468px 0;
		}

		100% {
			background-position: 468px 0;
		}
	}

	.height5 {
		height: 5rem;
	}

	.height10 {
		height: 10rem;
	}

	.height15 {
		height: 15rem;
	}

	.height20 {
		height: 20rem;
	}

	.height150 {
		height: 150rem;
	}

	.width50 {
		width: 50rem;
	}

	.width70 {
		width: 70rem;
	}

	.width100 {
		width: 100rem;
	}

	.width150 {
		width: 150rem;
	}

	.width200 {
		width: 200rem;
	}

	.width250 {
		width: 250rem;
	}

	.width300 {
		width: 300rem;
	}

	.widthfull {
		width: 100%;
	}

	.skeletonAnimation {
		border-radius: 5rem;
		background: rgba(130, 130, 130, 0.2);
		background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
		background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
		background-size: 800px 100px;
		animation: wave-lines 2s infinite ease-out;
	}

	.productCardImg {
		border: none;
	}

	.productCardBoy {

		.skeletonAnimation {
			margin-bottom: 8rem;
		}
	}

	&.chatList {

		.contentBody {

			.skeletonAnimation {
				margin-top: 8rem;
			}

			time {
				display: block;
			}
		}
	}
	.myAdsCard {
		border: 1rem solid #f0f0f0;
		background: #fafafa;

		.productCardImg {
			border: none;
		}
		.myAdsCardHead {
			background: transparent;
		}
		.productCardBottom {
			border: none;
		}
	}

	.notificationBody {

		time {
			margin-top: 10rem;
		}
	}
}


.noDataFound {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 200rem);
	width: 100%;

	.noDataFoundBody {
		text-align: center;
		padding: 20rem 20rem;

		h4 {
			font-size: var(--fontSize22);
			font-weight: 500;
			margin-bottom: 8rem;
		}
		p {
			font-size: var(--fontSize14);
			opacity: 0.7;
		}
		.svgIcon {
			height: 180rem;
			margin: 0 auto;
			margin-bottom: 20rem;

			&.WishlistIcon {
				width: 180rem;
			}
		}

	}
}

.progress {
	display: flex;
    height: 12rem;
    overflow: hidden;
    border-radius: 50rem;
	background-color: #e9ecef;

	.progressBar {
		display: flex;
		width: 0;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
		text-align: center;
		white-space: nowrap;
		transition: width 1s ease-in-out;
		background-size: 20rem 20rem;
		background: #0080008f;
	}
}

.completeProfile {
    margin-bottom: 20rem;
    background: #fff;
    padding: 19rem 20rem;
    box-shadow: 0rem 0rem 8rem 0rem #00000017;
    border-radius: 10rem;

	.actionComplete {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10rem;

		.link {
			color: var(--main);
			text-decoration: underline;
		}
	}
}


@media (max-width:991px) {

	.pageContent {
		display: flex;

		.leftContent {
			max-width: 425rem;
			border-right: none;
		}


		.rightContent {
			display: none;
		}
	}


}